/.idea
/node_modules
/public/hot
/public/storage
/public/coverage
/public/test
/storage/*.key
/vendor
/storage/debugbar
.phpstorm.meta.php
_ide_helper.php
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
coverage.txt
coverage.xml
*.log
